//Colors
$background: #fff;
$text: #6d6e71; 

$main_color: #87cdac;
$main_dark: #49c1b8;
$main_light: #def0e5;

// $nav_main
$menu_dark: #def0e5;
$menu_light: #49c1b8; 
$menu_text: #49c1b8;


// $contrast_main
$contrast_dark: #ff7c81; //darkred;//#ff5a5a; //ff4040; //E30B5D; ff5a5a
$contrast_light: #fd8d91; //#f78589; //#f8ccb0; //red;//#ff7474; //#f41469; //ff5a5a; //f41469;

$white: #fff;
// $background


// $menu_light