.video__home{
	@media #{$small-only} { 
		background-color: $main_dark;
	  	background: transparent url(/images/paws/mobiledog.png) 50% 50% / cover no-repeat ;
	 	height: 23.5rem;
	 	width: 100%; 
	 	margin-top: -2.5rem; 
	 	overflow: hidden;
	 	background-size:cover;  
  	}

  	@media #{$medium-only} { 
		background-color: $main_dark;
		background: transparent url(/images/paws/mobiledog.png) 50% 50% / cover no-repeat ;
	  	/*background: url(/images/paws/mobiledog.png) no-repeat 0 0; */
	 	height: 23.5rem;
	 	width: 100%;
	 	margin-top: -2.5rem;
	 	overflow: hidden;
	 	background-size:cover; 
  	}  
} 


video#bgvid {
	@media #{$small-only} {
		display: none;
		background-size:cover; 
	}
	@media #{$medium-only} {
		display: none;
		background-size:cover; 
	}
	
	@media #{$large-up} { 

  		position: static; 
		/*top: -2.5;*/
		/*right: 0; */
		/*bottom: 0;*/
		margin-top: -2.5rem;
		min-width: 100%; 
		min-height: 100%;
		width: auto;  
		height: auto; 
		z-index: -100;
		background: url(/images/paws/videopic.jpg) no-repeat 0 0;
		background-size: cover;	
  	}
}

/*@media only screen and (max-width: 480px) {
	body.showPanel video#bgvid{
		display:none;
	}
}*/
.section__white--form{
	position: absolute;
	top: 9rem;
	/* background-color: #fff; */
	padding: 1rem;
	/* width: 100%; */
	/* border: 1px solid #e0e0e0; */
	color: #fff;
	@media #{$large-up} { 
  		top: 15rem;
  	}

  	@media #{$xlarge-up} { 
  		top: 25rem;
  		/*background-color: green;*/
  	}

}
 
.section__white--homepage{
	background-color: #fff;
	padding-top: 7rem;
	padding-left: 1rem;
	padding-right: 2rem;
	padding-bottom:5rem;
	@media #{$medium-up} { 
  		padding:5rem;
  	}
}

.section__mission{
	padding-top:3rem;
	padding-bottom:3rem;
	text-align:center;
	font-size:18px;
	background-color:#87cdac;
	color:#fff;
	@media #{$small-only} { 
  		font-size:22px;
  	}
}
