
*:focus {
    outline: 0;
}

video#bgvid {
	position: static; 
	/*top: -2.5;*/
	/*right: 0; */
	/*bottom: 0;*/
	margin-top: -2.5rem;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	background: url(/images/paws/videopic.jpg) no-repeat;
	background-size: cover;
}

/*@media only screen and (max-width: 480px) {
	body.showPanel video#bgvid{
		display:none;
	}
}*/
.section__white--form{
	  position: absolute;
	  top: 9rem;
	  /* background-color: #fff; */
	  padding: 1rem;
	  /* width: 100%; */
	  /* border: 1px solid #e0e0e0; */
	  color: #fff;

	@media #{$large-only} { 
  		top: 15rem;
  		/*background-color: green;*/
  	}

  	@media #{$xlarge-only} { 
  		top: 20rem;
  		/*background-color: green;*/
  	}

  	@media #{$xxlarge-only} { 
  		top: 20rem;
  		/*background-color: green;*/
  	}
}


.section__white--homepage{
	/* background-color: #fff; */
  	padding: 1rem;
 	padding-top: 7rem;
  	padding-bottom: 4rem;
  	height: 100%;
  	width: 100%;
  	text-align: center;
  	/* background: url(/images/paws/quote.png) no-repeat; */
  	@media #{$medium-up} { 
  		padding: 2rem;
 		padding-top: 4rem;
  		padding-bottom: 4rem;
  	}
}

.section__mission{
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
  	font-size: 18px;
  	background-color: $main_color;
  	color: $white;
  	@media #{$medium-up} { 
  		font-size: 22px;
  	}

}

